@import 'tailwindcss';

:root {
  --background: #000001;
  --foreground: #fffffe;
  --bright-yellow: #eaf337;
  --light-translucent: #fffffe26;
  --dark-translucent: #fffffe0d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bright-yellow: var(--bright-yellow);
  --color-dark-translucent: var(--dark-translucent);
  --color-light-translucent: var(--light-translucent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-italiana: var(--font-italiana);
  --font-marcellus: var(--font-marcellus);
  --font-geist-sans: var(--font-geist-sans);
  --font-crossten-soft: var(--font-crossten-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
}
